{
  "logo": "https://www.ihris.org/sites/ihris/files/ihrislogo2019a.png",
  "site": "Demonstration site",
  "backend": "http://localhost:3000",
  "kibana": "http://www.mykibana.org",
  "locale": "en-US"
}
