[Unit]
Description=GOFR
Documentation=https://gofr.org
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/gofr/gofr-backend
ExecStart={{node_path}} /var/lib/gofr/gofr-backend/{{site}}/bin/www
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target