{
  "resourceType": "Parameters",
  "id": "ihris-base-config",
  "meta": {
    "profile": [
      "http://ihris.org/fhir/StructureDefinition/ihris-parameters-local-config"
    ]
  },
  "parameter": [
    {
      "name": "app:idp",
      "valueString": "ihris"
    },
    {
      "name": "app:canSelfSignup",
      "valueString": "true"
    },
    {
      "name": "app:installed",
      "valueString": "false"
    },
    {
      "name": "app:Parameters",
      "valueString": "ig/fsh-generated/resources/Parameters-ihris-config.json"
    },
    {
      "name": "app:site:path",
      "valueString": "/var/lib/iHRIS/ihris-backend/site"
    },
    {
      "name": "app:core:path",
      "valueString": "/var/lib/iHRIS/ihris-backend"
    },
    {
      "name": "builtFSHFIles",
      "valueString": "ig/fsh-generated/resources"
    },
    {
      "name": "profileBaseUrl",
      "valueString": "http://ihris.org/fhir"
    },
    {
      "name": "keycloak:installedLocation",
      "valueString": "/home/user/keycloak-15.0.2"
    },
    {
      "name": "keycloak:baseURL",
      "valueString": "http://localhost:8080/auth"
    },
    {
      "name": "keycloak:realm",
      "valueString": "iHRIS"
    },
    {
      "name": "keycloak:UIClientId",
      "valueString": "ihris-frontend"
    },
    {
      "name": "keycloak:adminUser",
      "valueString": "admin"
    },
    {
      "name": "keycloak:adminPassword",
      "valueString": "admin"
    },
    {
      "name": "keycloak:backendClientId",
      "valueString": "ihris-backend"
    },
    {
      "name": "keycloak:RESTClientUser",
      "valueString": "ihris@keycloak.org"
    },
    {
      "name": "keycloak:RESTClientPassword",
      "valueString": "ihris"
    },
    {
      "name": "fhir:base",
      "valueString": "http://localhost:8080/hapi/fhir"
    },
    {
      "name": "emnutt:base",
      "valueString": "http://localhost:3002/emNutt/fhir"
    },
    {
      "name": "emnutt:username",
      "valueString": ""
    },
    {
      "name": "emnutt:password",
      "valueString": ""
    },
    {
      "name": "mhero:countrycode",
      "valueString": ""
    },
    {
      "name": "auth:GMAIL_ADDRESS",
      "valueString": "iHRISNotification@gmail.com"
    },
    {
      "name": "auth:GMAIL_OAUTH_CLIENT_ID",
      "valueString": "390357737843-inbmba86itvofhvan713dt4h4dbklv9c.apps.googleusercontent.com"
    },
    {
      "name": "auth:GMAIL_OAUTH_PROJECT_ID",
      "valueString": ""
    },
    {
      "name": "auth:GMAIL_OAUTH_CLIENT_SECRET",
      "valueString": "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"
    },
    {
      "name": "auth:GMAIL_OAUTH_REDIRECT_URL",
      "valueString": "https://developers.google.com/oauthplayground"
    },
    {
      "name": "auth:CLIENT_URL",
      "valueString": "http://localhost:8081"
    },
    {
      "name": "auth:REFRESH_TOKEN",
      "valueString": "1//04g4zv4eigAloCgYIARAAGAQSNwF-L9IraRUj_1oAA4qKsNORz9Jb1LJAHuby9ShA0i0JtnzMGRXkd6cKBojLxXMUDigcnrHZgp0"
    },
    {
      "name": "elasticsearch:base",
      "valueString": "http://localhost:9200"
    },
    {
      "name": "elasticsearch:username",
      "valueString": ""
    },
    {
      "name": "elasticsearch:password",
      "valueString": ""
    },
    {
      "name": "elasticsearch:max_compiliation_rate",
      "valueString": "100000/1m"
    },
    {
      "name": "elasticsearch:max_scroll_context",
      "valueString": "100000"
    },
    {
      "name": "kibana:base",
      "valueString": "http://localhost:5601"
    },
    {
      "name": "kibana:username",
      "valueString": ""
    },
    {
      "name": "kibana:password",
      "valueString": ""
    },
    {
      "name": "auth:secret",
      "valueString": "C1Nz8Tfa4fzKCI8rS7sgO9vkwvPCTA4p1vesXeppCiTNMq3u6K2Z2VfXG8PCrV3"
    },
    {
      "name": "auth:tokenDuration",
      "valueString": "5400"
    },
    {
      "name": "logs",
      "part": [
        {
          "name": "production:console:level",
          "valueString": "warn"
        },
        {
          "name": "production:file:error:level",
          "valueString": "error"
        },
        {
          "name": "production:file:error:file",
          "valueString": "./logs/error.log"
        },
        {
          "name": "production:file:info:level",
          "valueString": "info"
        },
        {
          "name": "production:file:info:file",
          "valueString": "./logs/info.log"
        },
        {
          "name": "test:console:level",
          "valueString": "error"
        },
        {
          "name": "development:console:level",
          "valueString": "debug"
        }
      ]
    },
    {
      "name": "config",
      "part": [
        {
          "name": "ihris",
          "valueString": "ihris-config"
        }
      ]
    },
    {
      "name": "modules",
      "part": [
      ]
    },
    {
      "name": "keys",
      "part": [{
        "name": "ihris",
        "valueString": "-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDdeFrJr76IQ+SYAoAIw8crZKNW\nir2re7Z7Iu+XzeYYop5+36Ux6uEQKSXo7s1xY2ou9nCkVAddZ1qehBo0e2MCtk62\nmQJbBT18fiZ3veQPvb0LC/9aFl64RuOguPrCZC+sbZLegQ6Wwf96UWyqmR49gaHO\nEdXwdFdSVyBGyS7dmwIDAQAB\n-----END PUBLIC KEY-----"
      }]
    }
  ]
}
