{
  "resourceType": "Parameters",
  "id": "ihris-base-config",
  "meta": {
    "profile": [
      "http://ihris.org/fhir/StructureDefinition/ihris-parameters-local-config"
    ]
  },
  "parameter": [
    {
      "name": "app:idp",
      "valueString": "ihris"
    },
    {
      "name": "builtFSHFIles",
      "valueString": "../../ig/input/fsh/build/input"
    },
    {
      "name": "profileBaseUrl",
      "valueString": "http://ihris.org/fhir"
    },
    {
      "name": "keycloak:baseURL",
      "valueString": "http://localhost:8080/auth"
    },
    {
      "name": "keycloak:realm",
      "valueString": "iHRIS"
    },
    {
      "name": "keycloak:UIClientId",
      "valueString": "ihris-frontend"
    },
    {
      "name": "keycloak:backendClientId",
      "valueString": "ihris-backend"
    },
    {
      "name": "keycloak:RESTClientUser",
      "valueString": "ihris@keycloak.org"
    },
    {
      "name": "keycloak:RESTClientPassword",
      "valueString": "ihris"
    },
    {
      "name": "redis:url",
      "valueString": "wrkredis://redis:6379"
    },
    {
      "name": "fhir:base",
      "valueString": "http://wrkfhir:8080/fhir"
    },
    {
      "name": "emnutt:base",
      "valueString": "http://localhost:3002/emNutt/fhir"
    },
    {
      "name": "emnutt:username",
      "valueString": ""
    },
    {
      "name": "emnutt:password",
      "valueString": ""
    },
    {
      "name": "mhero:countrycode",
      "valueString": ""
    },
    {
      "name": "elasticsearch:base",
      "valueString": "http://wrkes:9200"
    },
    {
      "name": "elasticsearch:username",
      "valueString": ""
    },
    {
      "name": "elasticsearch:password",
      "valueString": ""
    },
    {
      "name": "elasticsearch:max_compiliation_rate",
      "valueString": "100000/1m"
    },
    {
      "name": "elasticsearch:max_scroll_context",
      "valueString": "100000"
    },
    {
      "name": "kibana:base",
      "valueString": "http://wrkkibana:5601"
    },
    {
      "name": "kibana:username",
      "valueString": ""
    },
    {
      "name": "kibana:password",
      "valueString": ""
    },
    {
      "name": "mediator:api:apiURL",
      "valueString": "https://mediator-staging.planetsystems.co"
    },
    {
      "name": "mediator:api:username",
      "valueString": "root@openhim.org"
    },
    {
      "name": "mediator:api:password",
      "valueString": "password"
    },
    {
      "name": "mediator:api:trustSelfSigned",
      "valueString": "true"
    },
    {
      "name": "mediator:api:urn",
      "valueString": "urn:uuid:2711b9f2-2809-45ef-81f6-2899232adf08"
    },
    {
      "name": "mediator:register",
      "valueString": "true"
    },
    {
      "name": "auth:secret",
      "valueString": "C1Nz8Tfa4fzKCI8rS7sgO9vkwvPCTA4p1vesXeppCiTNMq3u6K2Z2VfXG8PCrV3"
    },
    {
      "name": "auth:tokenDuration",
      "valueString": "5400"
    },
    {
      "name": "logs",
      "part": [
        {
          "name": "production:console:level",
          "valueString": "warn"
        },
        {
          "name": "production:file:error:level",
          "valueString": "error"
        },
        {
          "name": "production:file:error:file",
          "valueString": "./logs/error.log"
        },
        {
          "name": "production:file:info:level",
          "valueString": "info"
        },
        {
          "name": "production:file:info:file",
          "valueString": "./logs/info.log"
        },
        {
          "name": "test:console:level",
          "valueString": "error"
        },
        {
          "name": "development:console:level",
          "valueString": "debug"
        }
      ]
    },
    {
      "name": "config",
      "part": [
        {
          "name": "ihris",
          "valueString": "ihris-config"
        }
      ]
    },
    {
      "name": "modules",
      "part": []
    },
    {
      "name": "keys",
      "part": [
        {
          "name": "ihris",
          "valueString": "-----BEGIN PUBLIC KEY-----\nMIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgGdIcKVam1rYwhyRsoZLBl83v0Oz\n+fo2huc98fuBT458KWyyuCTIXEIOPe98MZK9qik5CuDZH/8VUBMr2ZUl3gmpX3t6\nf0EtFA1sqQlEYEah/MXYz3zqRs9wiMdPTJgQ4y3NR7NhDZ4HFIR1qwG6sna8cx2F\nUtLwbZgCN3OIZVPhAgMBAAE=\n-----END PUBLIC KEY-----"
        }
      ]
    }
  ]
}