{
  "resourceType": "Parameters",
  "id": "ihris-base-config",
  "meta": {
    "profile": [
      "http://ihris.org/fhir/StructureDefinition/ihris-parameters-local-config"
    ]
  },
  "parameter": [{
      "name": "fhir:base",
      "valueString": "http://localhost:8080/hapi/fhir"
    },
    {
      "name": "emnutt:base",
      "valueString": "http://localhost:3002/emNutt/fhir"
    },
    {
      "name": "emnutt:username",
      "valueString": ""
    },
    {
      "name": "emnutt:password",
      "valueString": ""
    },
    {
      "name": "logs",
      "part": [
        {
          "name": "production:console:level",
          "valueString": "warn"
        },
        {
          "name": "production:file:error:level",
          "valueString": "error"
        },
        {
          "name": "production:file:error:file",
          "valueString": "./logs/error.log"
        },
        {
          "name": "production:file:info:level",
          "valueString": "info"
        },
        {
          "name": "production:file:info:file",
          "valueString": "./logs/info.log"
        },
        {
          "name": "test:console:level",
          "valueString": "error"
        },
        {
          "name": "development:console:level",
          "valueString": "debug"
        }
      ]
    },
    {
      "name": "config",
      "part": [{
        "name": "ihris",
        "valueString": "ihris-config"
      }]
    },
    {
      "name": "keys",
      "part": [{
        "name": "ihris",
        "valueString": "-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDdeFrJr76IQ+SYAoAIw8crZKNW\nir2re7Z7Iu+XzeYYop5+36Ux6uEQKSXo7s1xY2ou9nCkVAddZ1qehBo0e2MCtk62\nmQJbBT18fiZ3veQPvb0LC/9aFl64RuOguPrCZC+sbZLegQ6Wwf96UWyqmR49gaHO\nEdXwdFdSVyBGyS7dmwIDAQAB\n-----END PUBLIC KEY-----"
      }]
    }
  ]
}
