<html lang="">
<head>
    <style>
    </style>
    <title></title>
</head>
<body>
<p>Dear {{name}}, </p>
<p>Your profile is created in iHRIS</p>
<p>please activate your self-service module with:</p>
<ul>
    <li>Email: <strong>{{email}}</strong></li>
    <li>File Number: <strong>{{fileNumber}}</strong></li>
    <li>Employee ID: <strong>{{employeeId}}</strong></li>
</ul>
<p>those information.</p>
</body>
</html>