<html lang="">
<head>
    <style>
    </style><title></title>
</head>
<body>
<p>Dear {{name}},</p>
<p>You Account is created</p>
<p> Please, click the link below to login</p>
<a href="{{link}}">Change Password</a>
</body>
</html>