{
  "development": {
    "definitions": {
      "practitionerPage": "Basic/iHRISPagePractitioner"
    },
    "elastic": {
      "server": "http://localhost:9200",
      "username": "username",
      "password": "username"
    },
    "fhir": {
      "server": "localhost",
      "username": "username",
      "password": "password"
    },
    "kibana": "https://www.elastic.co/products/kibana"
  },
  "test": {
    "definitions": {
      "practitionerPage": "Basic/iHRISPagePractitioner"
    },
    "elastic": {
      "server": "http://localhost:9200",
      "username": "username",
      "password": "username"
    },
    "fhir": {
      "server": "localhost",
      "username": "username",
      "password": "password"
    },
    "kibana": "https://www.elastic.co/products/kibana"
  },
  "production": {
    "definitions": {
      "practitionerPage": "Basic/iHRISPagePractitioner"
    },
    "elastic": {
      "server": "http://localhost:9200",
      "username": "username",
      "password": "username"
    },
    "fhir": {
      "server": "localhost",
      "username": "username",
      "password": "password"
    },
    "kibana": "https://www.elastic.co/products/kibana"
  }
}
