{
  "development": {
    "definitions": {
      "practitionerPage": "Basic/iHRISPagePractitioner"
    },
    "elastic": {
      "server": "http://localhost:9200",
      "username": "username",
      "password": "username",
      "version": "7.5"
    },
    "fhir": {
      "server": "localhost",
      "username": "username",
      "password": "password"
    },
    "kibana": "https://www.elastic.co/products/kibana",
    "mhero": "http://mhero.org/fhir/StructureDefinition",
    "structureDefinition": "http://server.com/fhir"
  },
  "test": {
    "definitions": {
      "practitionerPage": "Basic/iHRISPagePractitioner"
    },
    "elastic": {
      "server": "http://localhost:9200",
      "username": "username",
      "password": "username",
      "version": "7.5"
    },
    "fhir": {
      "server": "localhost",
      "username": "username",
      "password": "password"
    },
    "kibana": "https://www.elastic.co/products/kibana",
    "mhero": "http://mhero.org/fhir/StructureDefinition",
    "structureDefinition": "http://server.com/fhir"
  },
  "production": {
    "definitions": {
      "practitionerPage": "Basic/iHRISPagePractitioner"
    },
    "elastic": {
      "server": "http://localhost:9200",
      "username": "username",
      "password": "username",
      "version": "7.5"
    },
    "fhir": {
      "server": "localhost",
      "username": "username",
      "password": "password"
    },
    "kibana": "https://www.elastic.co/products/kibana",
    "mhero": "http://mhero.org/fhir/StructureDefinition",
    "structureDefinition": "http://server.com/fhir"
  }
}
