{
  "logo": "https://www.ihris.org/sites/ihris/files/ihrislogo2019a.png",
  "site": "Demonstration site",
  "backend": "http://localhost:3000",
  "kibana": "http://www.mykibana.org",
  "samplePractitioner": 8755,
  "dashboards": ["Sample Dashboard 1", "Sample Dashboard 2"],
  "demo": true,
  "mHero": {
    "installed": true,
    "dashboards": ["mHero Dashboard"]
  }
}
