
:root {

      --ig-status-text-color: #5f6062; /* 1. IG Title and status text color */
      --navbar-bg-color: #78496a; /* 2. Header container color */
      --footer-bg-color: #707070; /* 3. Footer background color*/
      --footer-container-color: #78496a; /* 4. Footer container color */
      --stripe-bg-color: #999999; /* 5. Header strip color */
    
      --btn-hover-color: #78496a;  /* 6. Menu button hover color */
      --btn-active-color: #005595; /* 7. Menu button active color */
      --btn-text-color: #e6e6e6; /* 8. Menu button text color */
      --btn-gradient-start-color: #569fd3; /* 9. Menu item gradient start color */
      --btn-gradient-end-color: #3a80bd; /* 10. Menu item gradient end  color */
      --btn-gradient-start-color-alpha: #78496a; /* 11. Menu item gradient start color (with alpha) */
      --btn-gradient-end-color-alpha: #643e4db6; /* 12. Menu item gradient end color (with alpha) */
      --link-color: #78496a; /* 13. Hyperlink text color */
      --link-hover-color: #569fd3; /* 14. Hyperlink text hover color */
    
      --publish-box-bg-color: #8a8d35; /* 15. Publish box background color */
      --publish-box-border: 1px solid #5f6062; /* 16.  Publish box border definition */
      --publish-box-color: #e6e6e6; /* 16.1. Publish box text color */
    
      --toc-box-bg-color: #ddecf6; /* 17.  TOC box background color */
      --toc-box-border: 1px solid  #5f6062; /* 18. TOC box border definition */
      
      --stu-note-background-color: #fff2ff; /* 19. (STU) Note box background color */
      --stu-note-border-left-color: #ffa0ff; /* 20. (STU) Note box border color */
    
    }

#segment-footer > .container {
      background-color: #5f6062;
}
.navbar-inverse {
      background-color: #5f6062;
}
.navbar-inverse .navbar-nav > li > a:hover {
      background-color: #569fd3;
}
#family-nav {
      line-height: 50px;
      float: right;
      margin-top: 4px;
      color: #5f6062;
}
#family-logo {
      float: right;
      margin-left: 6px;
}
#ihris-nav {
      line-height: 50px;
      float: left;
      margin-top: 4px;
      color: #5f6062;
}
#ihris-logo {
      float: left;
      margin-left: 6px;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
      font-family: "Century Gothic";
      font-weight: 500;
      line-height: 1.1;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-family: "Segoe UI";
  font-weight: normal;
  line-height: 1.1;
}
