// email.handlebars
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Verification Email</title>
</head>

<body>
  <h2>Hello {{name}}! </h2>
  <div class="container" style="max-width: 90%; margin: auto; padding-top: 20px">
    <h2>Welcome to the club.</h2>
    <h4>You are officially In ✔</h4>
    <p style="margin-bottom: 30px;">Pleas enter the login OTP to get started</p>
    <h1 style="font-size: 40px; letter-spacing: 2px; text-align:center;">{{otp}}</h1>
  </div>
</body>

</html>

