<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>You OTP is {{otp}} </p>
        <p>Note: Your OTP value will expire immediately after verification </p>
    </body>
</html>